html{
    scroll-behavior: smooth;
}
body *{
    font-family: 'Roboto', sans-serif;
    color: #263238;
}
.nav-link{
    color: white;
}
nav{
    background-color: #2196F3;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
nav .fab{
    color: white;
}

.about-col{
    vertical-align: middle;
}

.card{
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.projects .card h6{
    margin-top: 10px;
    margin-bottom: 10px;
}
.card a{
    color: #2196F3;
    font-weight: bold;
}

.bordred{
    border: #2196F3 1px solid;
}

.card-img{
    padding: 5px;
    width: auto;
    background-color: #2196F3;
}
.card-img img{
    width: auto;
    height: 64px;
}

.tags-container > span{
    margin-top: 2px;
    display: inline-block;
}

.hash{
    background-color: rgb(23, 102, 167);
    color: white;
    padding: 2px 10px 2px 10px;
    border-radius: 5px 0 0 5px;
}
.hash-lg{
    background-color: #2196F3;
    color: white;
    padding: 2px 20px 2px 20px;
    font-weight: 500;
    margin-right: 5px;
    border-radius: 0 5px 5px 0;
    min-width: 50px!important;
    min-height: 35px;
}

.material-icons{
    color: #2196F3;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-right: 2px;
}

.col-md-4 h6{
    vertical-align: middle;
}

.skills .col-md-4 .card{
    min-height: 350px;
}


.projects .card-img{
    background-color: white;
    min-width: 150px;
}

footer{
    background-color: rgb(23, 102, 167);
    min-height: 150px;
}

footer ul .fab{
    color: white;
    font-size: 25px;
}

footer .container div{
    width: auto!important;
}

@media(max-width:500px){
    h1{
        font-size: 25px;
    }
    .container{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .col-md-4 h6{
        font-size: 18px;
    }
}